# Dependencies
node_modules/

# Build output
desktop/dist/
desktop/out/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Electron
desktop/*.log

# iOS / Xcode
**/build/
**/DerivedData/
*.xcuserdata
*.xcworkspace/xcuserdata/
xcuserdata/
*.xcworkspace/contents.xcworkspacedata
